$colour-secondary:#0c2197;
$colour-primary:#27264b;
$colour-tertiaire:#99E2D0;
$colour-quatro:#f6f6f6;
$colour-five:#ec9e9e;
$colour-six:#ee0b0b;
$colour-body:#ececec;
$radiusDefault: 30px;
$radiusCircle: 50%;
$defaultUnit: "px";
$num-bars:4;
$anim-dur:1000ms;
$anim-delay: $anim-dur / $num-bars;
$breakpoints: (tablet:768px, laptop:1025px, desktop:1200px);